@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

header {
    text-align: center;
    padding-top: 60px;
}

h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #4E5150;
    margin-bottom: 8px;
}

h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #4E5150;
}

p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}

img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

footer {
    padding-top: 134px;
    padding-bottom: 24px;
}

footer p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #B9BDCF;
}

footer a {
    font-weight: 600;
    color: #B9BDCF;
}

.container {
    max-width: 968px;
    margin: 0 auto;
}


.photo-perfil {
    border-radius: 16px;
    width: 156px;
    height: 156px;
    margin-bottom: 16px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    max-width: 348px;
}

.info-card {
    background: #E5E5E5;
    border-radius: 12px;
    padding: 14px 15px 17px 15px;
    width: 100px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "a b b"
    "c c d"
    "e f d"
    ;
    gap: 36px;
}

.photo1 {
    grid-area: a;
}

.photo2 {
    grid-area: b;
}

.photo3 {
    grid-area: c;
}

.photo4 {
    grid-area: d;
}

.photo5 {
    grid-area: e;
}

.photo6 {
    grid-area: f;
}

.grid-container img {
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}

@media only screen and (max-width: 968px) {
    .container {
        margin-left: 12px;
        margin-right: 12px;
    }

    .grid-container {
        gap: 13px;
    }

    header {
        padding-top: 30px;
    }

    footer {
        padding-top: 44px;
    }
}

@media only screen and (max-width: 767px) {
    .photo-perfil {
        margin-bottom: 11px;
        width: 102px;
        height: 102px;
    }

    h1 {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 4px;
    }

    h2 {
        font-size: 10px;
        line-height: 12px;
    }

    h3 {
        font-size: 12px;
        line-height: 15px;
    }

    .info {
        max-width: 258px;
        margin-top: 12px;
        margin-bottom: 39px;
    }

    .info p {
        font-size: 12px;
        line-height: 15px;
    }

    .info-card {
        padding: 0px;
        width: 78px;
        height: 52px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}